%h1= t('events.create')
%p= t('events.explain')
= simple_form_for @event do |f|
  = f.input :name
  .with-s2= f.association :tags, class: %w(s2-dropdown)
  = f.input :location
  = f.input :time
  = f.input :email
  = f.input :website
  = f.input :description
  = f.button :submit, t('events.send_to_big_brother'), class: 'btn-block'